# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

<ul> <li>Numbered list commonly used languages for data science.</li> 
     <li>Ordered list commonly used libraries in data science.</li>
     <li>Single column table about development environment open source tools used in data science.</li>
</ul>

**Objectives**

<ul> <li>Numbered list commonly used languages for data science.</li> 
     <li>Ordered list commonly used libraries in data science.</li>
     <li>Single column table about development environment open source tools used in data science.</li>
</ul>

Some of the popular languages that Data Scientists use are: <ol> <li>python</li> <li>R</li> <li>SQL</li> <li>Java</li> </ol>

Some of the popular languages that Data Scientists use are: <ol> <li>python</li> <li>R</li> <li>SQL</li> <li>Java</li> </ol>

Some of the commonly used libraries used by Data Scientists include:
<ul> <li>Numpy</li> <li>Pandas</li> <li>Matplotlib</li> <li>Scikit-learn</li> </ul>

Some of the commonly used libraries used by Data Scientists include:
<ul> <li>Numpy</li> <li>Pandas</li> <li>Matplotlib</li> <li>Scikit-learn</li> </ul>

| Data Science Tools  |||
|-------------|-------------|-------------|
| Apache Hadoop   | Git Hub   | Anaconda   |

| Data Science Tools  |||
|-------------|-------------|-------------|
| Apache Hadoop   | Git Hub   | Anaconda   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Daisuke Kajiya

## Author
Daisuke Kajiya